sudo: required

language: java

jdk:
  - openjdk8

services:
  - docker

cache:
  directories:
    - "$HOME/.m2"

before_install:
  - chmod +x ./mvnw
#  - chmod +x ./deployment/deploy.sh

install: true

#script: "cp .travis.settings.xml $HOME/.m2/settings.xml && ./mvnw clean package -U"

script: "./mvnw clean package -U"

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master


#deploy:
#  - provider: script
#    skip_cleanup: true
#    script: "bash deploy.sh"
#    on:
#      tags: true



